---
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="styles/global.css">
		<title>R4N Portfolio</title>
	</head>
	<body>
		<Header client:load/>
		<main class=" mt-[8vh] lg:mt-[6.5vh]">
			<section class="flex aling-center  main-button-animated  justify-center absolute w-1/3 inset-x-1/3 hover:rotate-3 duration-200  z-20" >
					<a href="#projects" class="px-2 hover:underline   flex items-center justify-center bg-red-400 h-10 rounded-sm text-gray-900 "> Some work ↴ </a>
			</section>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #E4FDE1;
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	
</style>
